<div class="main">
    <h1>About us</h1>
    <div class="profile">
        <img src="assets/img/Pedro.jpg" alt="image" class="circle"/>
        <h3>Name:Pedro Alferes</h3><br>
        <h3>Profession:Web/Mobile Programmer</h3><br>
        <h3></h3>
        <h3><a href="https://gitlab.com/Pedro_Alferes"><img src="assets/img/gitlab.png" alt="gitlab" class="gitlab"/></a></h3>
    </div>
</div>

