<form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Name" [(ngModel)]="newEmployer.name" name="newEmployer.name"> 
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Age" [(ngModel)]="newEmployer.age" name="newEmployer.age">
    </md-form-field>
    <md-form-field class="example-full-width"> 
      <input mdInput placeholder="Profession" [(ngModel)]="newEmployer.profession" name="newEmployer.profession"> 
    </md-form-field>
</form>
  <button md-raised-button color="primary" (click)="addEmployer()">Add</button>
    <md-list *ngFor="let e of employers">
        {{e}}
        <span>X</span>
    </md-list>